<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Face detection demo</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">    
</head>
<body>
<header>
    <div class="main">
        <ul>
            <div class="title">
                <h1>WhiteDevil</h1>
            </div>
            <img src = "{{url_for('static', filename='css/demo.jpg')}}" alt = "Test Image" />
            <div class="button">
                <a href="/video_feed" class="btn">Face Detection</a>
            </div>

</header>
</body>

</html>